<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.mapper.CommentsMapper">
    <insert id="insert">
        insert into comments
        (article_id,user_id,username,reply_id,reply_username,content,status,create_time)
        values
            (#{articleId},#{userId},#{username},#{replyId},#{replyUsername},#{content},#{status},#{createTime})
    </insert>
    <update id="deleteBatch">
        update comments
        set status = 1
        where id in
                    <foreach collection="ids" item="id" separator="," close=")" open="(">
                        #{id}
                    </foreach>
    </update>
    <update id="deleteByArticleIds">
        update comments
        set status = 1
        where article_id in
            <foreach collection="ids" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
            />
    </update>


    <select id="count" resultType="java.lang.Integer">
        select count(*) from comments
        <where>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
        </where>
    </select>
    <select id="getRecentComments" resultType="top.hazenix.vo.CommentShortVO">
        select id,username,content,create_time from comments order by create_time desc limit #{i}
    </select>
    <select id="pageQuery" resultType="top.hazenix.entity.Comments">
        select * from comments
        <where>
            <if test="keyword != null and keyword != ''">
                and content like concat('%',#{keyword},'%') and username like concat('%',#{keyword},'%')
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="list" resultType="top.hazenix.entity.Comments">
        select * from comments
        <where>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="content != null">
                and content = #{content}
            </if>
             <if test="username != null">
                and username = #{username}
            </if>
             <if test="replyId != null">
                and reply_id = #{replyId}
            </if>

        </where>
        order by create_time desc
    </select>
    <select id="getCommentCountByUserId" resultType="java.lang.Integer">
        select count(*) from comments where user_id = #{userId} and status = 0
    </select>
</mapper>
