<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.mapper.CommentsMapper">
    <delete id="deleteBatch">
        delete from comment where id in
                            <foreach collection="ids" item="id" separator="," close=")" open="(">
                                #{id}
                            </foreach>
    </delete>


    <select id="count" resultType="java.lang.Integer">
        select count(*) from comments
    </select>
    <select id="getRecentComments" resultType="top.hazenix.vo.CommentShortVO">
        select id,username,content,create_time from comments order by create_time desc limit #{i}
    </select>
    <select id="pageQuery" resultType="top.hazenix.entity.Comments">
        select * from comments
        <where>
            <if test="keyword != null and keyword != ''">
                and content like concat('%',#{keyword},'%') and username like concat('%',#{keyword},'%')
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>
