<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.mapper.TagsMapper">


    <select id="count" resultType="java.lang.Integer">
        select count(*) from tags
    </select>
    <select id="getListByArticleId" resultType="java.lang.Integer">
        select *
        from article_tags where article_id = #{id};
    </select>
    <select id="getById" resultType="top.hazenix.entity.Tags">
        select * from tags where id = #{id}
    </select>
</mapper>
